* {
    font-family: "Roboto";
}

body {
    margin: 0px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 100%;
}

div {
    display: flex;
}

.d1 {
    height: 60vh;
    flex-direction: column;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
    background-color: #1F2937;
    padding-bottom: 50px;
    flex-shrink: 1;
}

.top-bar {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
}

.bar1,
.bar2 {
    flex: 1;
}

.bar1 {
    font-size: 24px;
    color: #F9FAF8;
}

.bar2 {
    justify-content: end;
}

.links {
    gap: 10px;
}

.links a {
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.d1 > div {
    width: 100%;
}

.main-content {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 100%;
}

.con2 {
    flex-basis: 50%;
}

.con1 {
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}

.con1-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    text-align: bottom;
    margin-bottom: 15px;
}

.con1-2 {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 10px;
    margin-bottom: 15px;
}

button {
    font-size: 16px;
    padding: 5px 20px;
    font-family: "Roboto";
    background-color: #3882F6;
    border-radius: 8px;
    border-style: hidden;
    color: white;
}

.con2 {
    align-items: center;
}

.con2 img {
    height: 75%;
    width: 100%;
    object-fit: contain; 
}

.d2 {
    height: 65vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.d2-1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 3%;
}

.d2-2 {
    gap: 50px;
    box-sizing: border-box;
    flex-basis: 50%;
    max-height: 75%;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.d2-2 > div {
    flex-basis: 25%;
    flex-direction: column;
    justify-content: start;
}

.up {
    flex-basis: 75%;
    margin-bottom: 10px;
}

.up img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15%;
    border: solid #3882F6 5px;
}

.down {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.d3 {
    background-color: #E5E7EB;
    height: 65vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10%;
}

.d3-1 {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.d3-2 {
    justify-content: end;
    width: 100%;
    color: #1F2937;
    font-weight: 600;
    font-size: 24px;
}

.d4 {
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.d4-1 {
    width: 75%;
    height: 30%;
    background-color:#3882F6;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.d4-1-1 {
    width: 75%;
    height: 50%;
}

.action-left {
    flex-basis: 80%;
    flex-direction: column;
    justify-content: center;
}

.action-right {
    flex-grow: 1;
    align-items: center;
}

.action-right button {
    border: solid white 2px;
    width: 100%;
}

.action-left-1 {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 500;
}

.action-left-2 {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.d5 {
    height: 10vh;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}



